page-layout {
    img.resize {
        max-width:40%;
        max-height:40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .title-header{
        img{
            height: 4vh;
        }
        .text-coop{
            color: steelblue;
            font-size: 3vw;
            padding-left: 2vw;
        }
    }
}