page-layout {
    img.resize {
        max-width:40%;
        max-height:40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .title-align{
        position: relative;
        left: 17%;
    }
}