page-layout {
    img.resize {
        max-width:40%;
        max-height:40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .title-align{
        margin-left: 5vw;
        width: 100%;
        img{
            height: 5vh;
        }
        .title-header{
            font-size: 2vh;
            color: steelblue;
        }
    }
}