page-login {
    .background {
        background-image: url('../assets/imgs/bglogin.jpeg');
        background-size: cover;
    }
    img.resize {
        // max-width: 30%;
        // max-height: 30%;
        max-width: 30vw;
        max-height: 30vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45%;
      }
    h2.textlogo{
        margin-top: 5%;
        text-align: center;
        color:white;
        font-style: italic;
        font-weight: bold;
        font-size: 150%;
        opacity: 0.7;
    }
	
    ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0);
		border-radius: 5px;
    }
    .roundcorner{
        padding: 0;
        border-radius: 3vh;
        // width: 80%;
        // height: 10%;
        max-width: 65vw;
        min-height: 6vh;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(154, 188, 250, 0.61);
        input{
            font-size: 2.5vh;
        }
        input:focus{
            font-size: 2.5vh;
        }
    }
    button.loginbutton{
        display: block;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3vh;
        // min-height: 3.5rem;
        min-height: 6vh !important;
        min-width: 65vw;
        //min-height: 10vh;
        margin-left: auto;
        margin-right: auto;
        color: rgba(255, 255, 255, 0.808);
        font-size: 2.5vh;
        //background: linear-gradient(to right, rgb(103, 200, 238) , rgb(143, 240, 247));
        background: linear-gradient(to right, rgb(33, 143, 187) , rgb(143, 240, 247));

    }
    .item {
        min-height: 1rem; /* <- this can be whatever you need */
    }
    ion-input {
        &.custom-input {
          font-size: 80%; //sets text font size
          color: white;
          opacity: 0.8;
          ::placeholder {
            margin-top: 0%;
            margin-bottom: 0%;
            padding-top: 0%;
            padding-bottom: 0%;
            font-size: 80%; //sets placeholder font size
            color: white;
            opacity: 0.8;
          }
        }
      }
    .images-parent{
        text-align: center;
      }
  
    .left-image{
        float:left;
        max-width: 80px !important;
        max-height: 80px !important;
      }
      .text-input{
          margin-top: 6% !important;
          margin-bottom: 6% !important;
      }
}
