page-plant {
  #map_canvas2 {
      height: 50%;
  }

  .nav-title{
    // margin-left: 10vw;
    img{
      height: 4vh;
    }
  }

  #title-label{
    position: absolute;
    font-size: 2.5vh;
    padding: 3% 8% 3% 8%;
    color: white;
    background: linear-gradient(to right, rgb(103, 200, 238) , rgb(143, 240, 247));
    top: 2%;
    box-shadow: 1px 2px 2px rgb(184, 184, 184);
  }
  
  .scroll-content {
    padding: 0px !important;
  }

  .tab-section {
    // position: fixed;
    // padding-top: 2%;
    width: 100%;
    height: 50%;
    ion-segment-button{
      height: 8vh !important;
    }
    .tab-icon{
      margin-top: 3%;
      img{
        height: 4.5vh;
      }
    }
    .plant-type-toolbar .toolbar-background {
      background-color: white;
      color: orange;
      height: 20vh;
    }
    .segment-button.segment-activated {
      // border-bottom: 2px solid orange;
      border-color: orange !important;
      border-width: 4px;
    }
  
    ion-list{
      ion-item{
        height: 12vh;
        background-color: rgb(250, 250, 250);
      }
    }
  
    .item-list{
      // background-color: rgb(240, 240, 240);
      .item-icon {
        align-content: center;
        img{
          height: 6.25vh;
        }
        // img{
        //   height: 12vh;
        // }
      }
  
      .item-power{
        padding-left: 3vw;
        .item-name {
          font-size: 2.5vh;
          color: steelblue;
        }
        .power-gen{
          font-size: 1.75vh;
          color: gray;
          img{
            height: 1.75vh;
          }
        }
      }
    
      .share-row {
        margin-left: -1.5vw;
        padding-left: 3vw;
        //padding-left: 4%;
        color: orangered;
        border-left:2px solid rgb(175, 175, 175);
        .share-percentage {
          font-size: 2.25vh;
        }
        .share-company {
          font-size: 2vh;
        }
      }
    }
  }
  
  // .segment-button.segment-activated:before {
  //   content : "";
  //   position: absolute;
  //   // left: 10%;
  //   // bottom: 1px;
  //   bottom  : 0;
  //   height  : 1px;
  //   height   : 75%;  /* or 100px */
  //   border-bottom: 2px solid, orange;
  // }

  .shadow-effect{
    z-index: 4;
    box-shadow: 0px -0.7vh 0.7vh rgb(184, 184, 184);
  }

}
