<!--
  Generated template for the WorldPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar align-title="center" class="bar-positive">
    <div>
      <ion-title class="nav-title">
        <img src="./assets/imgs/GPSC-Nav-head.png" alt="" >
      </ion-title>
    </div>
    
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div id="title-label">Our Projects</div>
  <div id="map_canvas">
  </div>
  <ion-scroll scrollY="true" class="shadow-effect" style="width: 100%; height: 40%; background-color: rgb(250, 250, 250);">
      <ion-list>
        <ion-item no-lines *ngFor="let item of countryList" (click)="selectedCountry(item)">
          <ion-row>
            <ion-col align-self-end class="pin-icon">
                <img src="./assets/imgs/pin1.png"/>
            </ion-col>
            <ion-col align-self-end text-uppercase class="country-name">
                {{item.CountryName}}
            </ion-col>

            <ion-col align-self-end class="plant-icon" *ngIf="item.type" >
                <img [src]="item.type"/>
                <img *ngIf="item.CountryId == 1" src="./assets/imgs/i1.png" style="padding-left: 15px;" />
            </ion-col>

          </ion-row>
          <!-- <ion-icon name="leaf" item-start></ion-icon> -->
          <!-- <ion-img width="50" height="50" src="http://via.placeholder.com/50x50/ff0000/000000" item-end></ion-img> -->
          <!-- <ion-icon name="rose" item-end></ion-icon> -->
        </ion-item>
      </ion-list>
  </ion-scroll>
</ion-content>
