page-world {

  font-family: 'Lato', sans-serif !important;
  #map_canvas {
      height: 60%;
  }
  .nav-title{
    // margin-left: 15vw;
    // width: 100%;
    img{
      height: 4vh;
    }
  }

  #title-label{
    position: absolute;
    font-size: 2.5vh;
    padding: 3% 8% 3% 8%;
    color: white;
    background: linear-gradient(to right, rgb(103, 200, 238) , rgb(143, 240, 247));
    top: 2%;
    box-shadow: 1px 2px 2px rgb(184, 184, 184);
  }
  .scroll-content {
    padding: 0px !important;
  }

  ion-item { 
    max-height: 15vh;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #eeeeee !important;
    background-color: rgb(248, 248, 248) !important;
    .pin-icon{
      margin-left: 10%;
      img{
        height: 5vh;
      }
    }
    .country-name {
      // padding-left: 8px;
      font-size: 2.5vh;
      color: steelblue;
      position: relative;
      left: -18%;

    }
    .plant-icon {
      padding-right: 1vw;
      img{
        height: 4vh;
      }
    }

  }
  
  .shadow-effect{
    z-index: 5;
    box-shadow: 0px -0.7vh 0.7vh rgb(184, 184, 184);
  }
  
}
