page-world {
  #map_canvas {
      height: 40%;
  }
  .scroll-content {
    padding: 0px !important;
  }
  .item[no-lines].bottom-border { 
    border-bottom: 1px solid #eeeeee; 
  }
  .plant-icon {
    padding-right: 8px;
  }
  .country-name {
    padding-left: 8px;
  }
  
}
