page-home {

    .card{
     margin-top: 15%;
     max-width: 90%;
     margin-left: auto;
     margin-right: auto;   
    }

    .first-card{
        margin-top: auto;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .bg-body{
        background-color: rgb(238, 238, 238);
    }

    .text-menu{
        font-size: 125%;
    }

    .icon-style{
        max-height: 40px;
        max-width: 50px;
    }

    .title-align{
        position: relative;
        left: 17%;
    }

    .img-icon{
        position: relative;
        left: 15%;
    }
}
