page-home {

    .title-header{
        img{
            height: 4vh;
        }
        .text-coop{
            color: steelblue;
            font-size: 3vw;
            padding-left: 2vw;
        }
    }
    .card{
        margin-bottom: 8vh;
        ion-row{
            padding: 3vh 0 3vh 0;
            margin-left: auto;
            margin-right: auto;
            height: 16vh;
            width: 75vw;
            border-radius: 1.5vh;
            z-index: 5;
            box-shadow: 0 0 2vh rgb(184, 184, 184);
            .img-icon{
                position: relative;
                left: 7%;
                img{
                    height: 8vh;
                }
            }
            .text-menu{
                color: rgb(128, 128, 128) !important;
                font-size: 3vh;
            } 
        }  
        
    }

    .first-card{
        margin-top: 8vh;
    }

    .bg-body{
        background-color: rgb(245, 245, 243);
    }

    .icon-style{
        max-height: 40px;
        max-width: 50px;
    }
}
