page-home {

    .card{
     margin-top: 15%;   
    }

    .first-card{
        margin-top: 20%;
    }

    .bg-body{
        background-color: rgb(238, 238, 238);
    }

    .text-menu{
        font-size: 125%;
    }

    .icon-style{
        max-height: 40px;
        max-width: 50px;
    }
}
