page-info {
    ion-item:nth-child(even) {
        background-color: rgb(243, 243, 243);
        max-height: 15px;
    }

    ion-item:nth-child(odd) {
        max-height: 15px;
    }

    ion-note{
        font-size: small;
        position: relative;
        left: -30%;
    }

    .icon-info{
        position: relative;
        left: -17%;
    }

    .tt-content{
        max-height: 150px;
        margin:auto;
        overflow-y: scroll;
    }

    ion-item ion-col img{
        height: 30px;
        width: 32px;
    }

    .img-info{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .title-align{
        position: relative;
        left: 17%;
    }

}
