
<ion-header>
  <ion-navbar>
    <ion-row class="title-header">
      <ion-col col-4 text-right no-padding>
        <img [src]="logo" alt="">
      </ion-col>
      <ion-col col-6 text-wrap align-self-center text-left no-padding class="text-coop">
        <div *ngIf="companyName == 'CHPP'">
          Combined Heat and Power Producing Co.,Ltd.
        </div>
        <div *ngIf="companyName != 'CHPP'">
          Ichinoseki Solar Power
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid class="info-content">
      <ion-row no-padding class="img-grid">
        <ion-col>
          <div class="slider">
            <input type="radio" name="slide_switch" id="id1"/>
            <label for="id1">
              <img class="btn" [src]="pic1"/>
            </label>
            <img class="active" [src]="pic1"/>
            <input type="radio" name="slide_switch" id="id2" checked="checked"/>
            <label for="id2">
              <img class="btn middle-img" [src]="pic2"/>
            </label>
            <img class="active" [src]="pic2"/>
            
            <input type="radio" name="slide_switch" id="id3"/>
            <label for="id3">
              <img class="btn" [src]="pic3"/>
            </label>
            <img class="active" [src]="pic3"/>
          </div>  
        </ion-col>
      </ion-row>
      <ion-row class="list-grid" no-padding no-margin>
        <ion-col class="list-col">
            <ion-scroll scrollY="true" class="scroll-h">
                <ion-list no-padding no-margin>
                  <ion-item no-line>
                    <ion-row>
                      <ion-col align-self-center col-2 class="icon-info">
                        <div text-right>
                          <img src="./assets/imgs/i9.png" alt="">    
                        </div>
                      </ion-col>
                      <ion-col align-self-center col-4 offset-1>
                        <div class="title-info">Type</div>
                      </ion-col>
                      <ion-col align-self-center col-5>
                        <ion-note>
                          {{ plantData.Result.PlantType }}
                        </ion-note>
                      </ion-col>
                    </ion-row>     
                  </ion-item>
                  <ion-item no-line>
                    <ion-row>
                      <ion-col align-self-center col-2 class="icon-info">
                        <div text-right>
                          <img src="./assets/imgs/i10.png" alt="">    
                        </div>
                      </ion-col>
                      <ion-col align-self-center col-4 offset-1>
                        <div class="title-info">Capacity</div>
                      </ion-col>
                      <ion-col align-self-center col-5>
                        <ion-note>
                            <div>
                                Electricity {{ power }} MW
                            </div>
                        </ion-note>
                      </ion-col>
                    </ion-row>     
                  </ion-item>
                  <ion-item no-line>
                    <ion-row>
                      <ion-col align-self-center col-2 class="icon-info">
                        <div text-right>
                          <img src="./assets/imgs/i11.png" alt="">       
                        </div>
                      </ion-col>
                      <ion-col align-self-center col-4 offset-1>
                        <div class="title-info">Customer</div>
                      </ion-col>
                      <ion-col align-self-center col-5>
                        <ion-note>
                          {{ plantData.Result.Customer.CustomerName }}
                        </ion-note>
                      </ion-col>
                    </ion-row>     
                  </ion-item>
                  <ion-item no-line>
                    <ion-row>
                      <ion-col align-self-center col-2 class="icon-info">
                        <div text-right>
                          <img src="./assets/imgs/i12.png" alt="">      
                        </div>
                      </ion-col>
                      <ion-col align-self-center col-4 offset-1>
                        <div class="title-info">COD</div>
                      </ion-col>
                      <ion-col align-self-center col-5>
                        <ion-note>
                          {{ plantData.Result.PlantInfo.COD | amDateFormat:'MMMM-YYYY' }}
                        </ion-note>
                      </ion-col>
                    </ion-row>     
                  </ion-item>
                  <ion-item no-line>
                    <ion-row>
                      <ion-col align-self-center col-2 class="icon-info">
                        <div text-right>
                          <img src="./assets/imgs/i13.png" alt="">       
                        </div>
                      </ion-col>
                      <ion-col align-self-center col-4 offset-1>
                        <div class="title-info">PPA</div>
                      </ion-col>
                      <ion-col align-self-center col-5>
                        <ion-note>
                            {{ ppaData }}
                        </ion-note>
                      </ion-col>
                    </ion-row>     
                  </ion-item>
                  <ion-item no-line>
                    <ion-row>
                      <ion-col align-self-center col-2 class="icon-info">
                        <div text-right>
                          <img src="./assets/imgs/i14.png" alt="">      
                        </div>
                      </ion-col>
                      <ion-col align-self-center col-4 offset-1>
                        <div class="title-info">Location</div>
                      </ion-col>
                      <ion-col align-self-center col-5>
                        <ion-note>
                          {{ locationName }}
                        </ion-note>
                      </ion-col>
                    </ion-row>     
                  </ion-item>
                </ion-list>
              </ion-scroll>
        </ion-col>
      </ion-row>
    </ion-grid>
     
</ion-content>

