page-info {
    .tt-content{
        max-width:980px;
        margin:auto;
        background-color: rgb(192, 155, 212)
    }

    ion-item:nth-child(even) {
        background-color: rgb(224, 226, 225);
        font-size: small;
        max-height: 20px;
        contain:none;
    }

    ion-item:nth-child(odd) {
        font-size: small;
        max-height: 20px;
        contain:none;
    }

    .custom-icon-size{
        font-size: 20px;
    }

    ion-note{
        font-size: small;
    }
}
