page-summary {
    .segment-button {
        color: black !important;
        font-size: 9px !important;
        min-height: 20px;
        line-height: 1.0rem !important;
        text-transform: none !important;
    }
    .segment-button.segment-activated {
        color: #488aff !important;
    }
    .weather-present {
        background-color: #488aff;
        color: white;
        padding: 0px !important;
    }

    .card-md, .card-ios {
        margin: 0px;
        width: 100%;
        margin-bottom: 8px;
    }
    section {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin: 0 -8px;
        min-height: 30px;
        
      }
      
      section > * {
        margin: 0 8px;
      }

    .divider {
        width: 2px;
        margin: 0px 0;
        background: #488aff;
      }
    .item {
        flex: 0 1 auto;
        color: #488aff;
        font-size: 12px;
        margin: auto;
    }
      
}
