page-summary {

    ion-segment{
        ion-segment-button{
            height: 20px !important;
        }
    }

    .energy-segment{
        height: 20px !important;
    }

    .segment-button {
        color: black !important;
        font-size: 9px !important;
        min-height: 30px;
        line-height: 1.0rem !important;
        text-transform: none !important;
    }
    .segment-button.segment-activated {
        color: #488aff !important;
    }
    .weather-present {
        background-color: #488aff;
        color: white;
        padding: 0px !important;
    }

    .card-md, .card-ios {
        margin: 0px;
        width: 100%;
        margin-bottom: 8px;
    }
    section {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin: 0 -8px;
        min-height: 30px;
      }
      
      section > * {
        margin: 0 8px;
      }

    .divider {
        width: 2px;
        margin: 0px 0;
        background: #488aff;
      }
    .item {
        flex: 0 1 auto;
        color: #488aff;
        font-size: 12px;
        margin: auto;
    }

    div.highcharts-container g.highcharts-tracker > * {
        fill :rgb(155, 155, 155);
    }

    .segment-text{
        font-size: 90%;
    }

    .power-gen-container{
        max-height: 100%;
        margin-top: 15%;
    }

    .tab-title{
        background: -webkit-linear-gradient(rgba(22, 154, 231, 0.918), rgb(30, 125, 248));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .power-text{
        margin-top: -50%;
        position: relative;
        left: 5%;
        margin-top: -50%;
    
    }

    .power-unit{
        font-size: 150%;
        color: rgb(161, 161, 161);
    }

    .power-value{
        font-size: 220%;
        background: -webkit-linear-gradient(rgba(22, 189, 231, 0.918), rgb(30, 161, 248));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .power-icon{
        img{
         max-height: 30px;
         position: relative;
         right: -8%;

        }
        margin-top: -38%;
    }

    .panel-margin{
        
    }

    .title-align{
        position: relative;
        left: 17%;
    }

    .energy-chart-bg{
        background-color: rgb(230, 230, 230);
    }

    .active-energy-btn input:active{
        opacity: .9;
    }
    .active-energy-btn input:checked +.chart-type{
          -webkit-filter: none;
             -moz-filter: none;
                  filter: none;
            color: rgb(255, 255, 255);
            background-color: #488aff;
    }
    .active-energy-btn input{
        margin:0;padding:0;
        -webkit-appearance:none;
           -moz-appearance:none;
                appearance:none;
    }
    
    .active-energy-btn label{
      font-size: 15px;
    }
    .chart-type{
        background-color: rgb(255, 255, 255);
        color: #488aff;
        padding: 3px;
        border-radius: 3px;
        margin: 2px;
    }

    .target{
        ul li{
            float: right;
            font-size: 70%;
            margin-top: -4%;
            color: rgba(248, 94, 23, 0.918);
        }
        margin-right: 5px;
    }

    .start-gap{
        padding-top: 5%;
    }

    .snippet{
        font-size: 70%;
        color: rgb(133, 133, 133);
        position: relative;
        left: 5%;
    }

    .value-summary{
        font-size: 130%;
        background: -webkit-linear-gradient(rgba(22, 189, 231, 0.918), rgb(30, 161, 248));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .unit-summary{
        font-size: 65%;
        color: rgb(133, 133, 133);
    }

    .underline{
        border-bottom: 2px solid;
        border-color: rgb(197, 197, 197);
        margin-left: 5%;
        margin-right: 5%;
    }
    .myweather{
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 30%;
    }

    //1st Row Show Current Temp Info
    .presentweather{
        padding: 0;
        margin:0;
        width: 100%;
        max-width: 100%;
        max-height: 35%;
        height: 100%;
        background-color:rgb(109, 200, 253);
    }
    .bigblock{
        padding:0;
        margin:0;
    }
    .fourblock{
        padding: 0;
        margin:0;
        width: 100%;
        max-width: 22%;
        text-align: left;
    }
    .oneblock{
        padding: 0;
        margin:0;
        width: 100%;
        max-width: 12%;
    }
    .myimagecenter{
        position: absolute;
        left: 0;
        right: 0;
    }
    .mytemptext{
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;  
    }
    //EOF 1st Row Show Current Temp Info

    //2nd Row Show Future Temp Info
    .futureweather{
        padding: 0;
        margin:0;
        padding-top: 2%;
        width: 100%;
        max-width: 100%;
        max-height: 35%;
        height: 100%;
    }
    .futurefourblock{
        padding: 0;
        margin:0;
        width: 100%;
        max-width: 25%;
        text-align: left;
    }
    img.smallweathericon{
        max-width:25%;
        max-height:25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    //EOF 2nd Row Show Future Temp Info

    //3rd Row show date time
    .showdatetime{
        padding: 0;
        margin:0;
        width: 100%;
        max-width: 100%;
        max-height: 30%;
        height: 100%;
    }
    .parent-showdatetime-text-vertical-center{
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        position: relative;
        text-align: center;
    }
    .child-showdatetime-text-vertical-center{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
    //EOF 3rd Row show date time
}
