page-summary {
    .segment-button {
        color: black !important;
        font-size: 9px !important;
        min-height: 20px;
        line-height: 1.0rem !important;
        text-transform: none !important;
    }
    .segment-button.segment-activated {
        color: #488aff !important;
    }
      
}
